---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=asd&fields=email,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"A6iEhkH8yjn"}}'
  recorded_at: Thu, 21 Jan 2016 13:55:08 GMT
recorded_with: VCR 3.0.0
