---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=test&fields=email,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"dc2a0ec609709e137fe9480d2752592c0c199b67"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: UTF-8
      string: '{"name":"Rafa\u0142 Lisowski","email":"","gender":"male","id":"997205773676091"}'
  recorded_at: Thu, 21 Jan 2016 13:55:08 GMT
recorded_with: VCR 3.0.0
