<h1> Hi, </h1>

<p>
  here is your sign in link
  <br/>
  <br/>
  <a href="<%= @reminder_url %>" target="_blank"><%= @reminder_url %></a>
  <br/>
  <br/>
</p>

<p>
  Regards,
  <br/>
  Cloud Team
</p>
