<h1> Hi, </h1>

<p>
  New products are waiting for your design
  <br/>
  <br/>
  <%= @products.each do |product| %>
    Product ID: <%= product.id %>
  <% end %>
  <br/>
  <br/>
</p>

<p>
  Regards,
  <br/>
  Cloud Team
</p>