<h1> Hi, </h1>

<p>
  New products are waiting for your design
  <br/>
  <br/>
  <% @products.each do |product| %>
    Product ID: <%= link_to "#{product.id}", admin_product_url(product) %>
  <% end %>
  <br/>
  <br/>
</p>


<p>
  Regards,
  <br/>
  Cloud Team
</p>